extends ../layout

block content
  include ../partials/header

  if questions.length > 0
    h1 #{category.name}
      a(href='/cards/' + category._id + '/questions/new') &nbsp - Submit A New Question
    p
    div.category
      for question in questions
        div.categoryElement
          div.inner
            if question.answered
              div.questionElementAnswered
                p= question.question
            else
              div.questionElementAnswered    
                a(href="#" id=question._id onclick='overlay('+JSON.stringify(question)+')')
                  p= question.question
  else
    h1 #{category.name}
    p There are no questions for this category yet. 
    a(href='/cards/' + category._id + '/questions/new') Submit A New Question
    
  div#overlay
    div.overlaySegment
      div.front
        div.overlayQuestion 
        div.overlayAnswer
        div.overlaySubmit
          button#hint Hint
          #hintOverlay
            |Hint:
            :verbatim
              <script>
                (function() {
                  var cx = '011127767182915430135:pcg-i_rg49w';
                  var gcse = document.createElement('script');
                  gcse.type = 'text/javascript';
                  gcse.async = true;
                  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                      '//cse.google.com/cse.js?cx=' + cx;
                  var s = document.getElementsByTagName('script')[0];
                  s.parentNode.insertBefore(gcse, s);
                })();
              </script>
              <gcse:search linktarget="_parent"></gcse:search>
          button#submitAnswer Submit
          p
          a(href="" onclick='overlay()') Cancel
      div.back 
        div.result
        div.points
        div.overLayBackButtons
          form(action='/cards/submit/goToChallanges' method='post')
            input(type="hidden" name="points" id="userPointChallengeRedirect")
            input(type="hidden" name="userAnswer" id="userAnswerChallengeRedirect")
            input(type="hidden" name='categoryID' id="categoryIDChallengeRedirect" value=category._id)
            input(type="hidden" name="questionID" id="questionIDChallengeRedirect") 
            input(type="submit" value="I want to answer more questions about " + category.name)
          form(action='/cards/submit/goToCategories' method='post')
            input(type="hidden" name="points" id="userPointsCategoriesRedirect")
            input(type="hidden" name="userAnswer" id="userAnswerCategoryRedirect")
            input(type="hidden" name='categoryID' id="categoryIDCategoryRedirect" value=category._id)
            input(type="hidden" name="questionID" id="questionIDCategoryRedirect") 
            input(type="submit" value="I want to choose a different category")
