extends ../layout

block content
  div.logout
    a(href="/cards") Home
    span &nbsp &nbsp
    a(href="/logout") Logout
  if questions.length > 0
    h1 #{category.name}
      a(href='/cards/' + category._id + '/questions/new') &nbsp - Submit A New Question
    p
    div.question
      for question in questions
        a(href="#" id=question._id onclick='overlay('+JSON.stringify(question)+')')
          div.questionElement
            p= question.question
  else
    h1 #{category.name}
    p There are no questions for this category yet. 
    a(href='/cards/' + category._id + '/questions/new') Submit A New Question
    
  div#overlay
    div.overlaySegment
      div.front
        div.overlayQuestion 
        div.overlayAnswer
        div.overlaySubmit
          #hint Hint
          #hintOverlay
          |Hint:
          button#submitAnswer Submit
          p
          a(href="" onclick='overlay()') Cancel
      div.back 
        div.result
        div.points
        div.overLayBackButtons
          form(action='/cards/submit/goToChallanges' method='post')
            input(type="hidden" name="points" id="userPointChallengeRedirect")
            input(type="hidden" name="userAnswer" id="userAnswerChallengeRedirect")
            input(type="hidden" name='categoryID' id="categoryIDChallengeRedirect" value=category._id)
            input(type="hidden" name="questionID" id="questionIDChallengeRedirect") 
            input(type="submit" value="I want to answer more questions about " + category.name)
          form(action='/cards/submit/goToCategories' method='post')
            input(type="hidden" name="points" id="userPointsCategoriesRedirect")
            input(type="hidden" name="userAnswer" id="userAnswerCategoryRedirect")
            input(type="hidden" name='categoryID' id="categoryIDCategoryRedirect" value=category._id)
            input(type="hidden" name="questionID" id="questionIDCategoryRedirect") 
            input(type="submit" value="I want to choose a different category")
