extends ../layout

block content

  div.headerSection
    div.icon
      img(src ="/images/bolt.png")
    div.headerElement
      a(href="/cards") flashcards
    div.logout
      a(href="/logout") Logout
  div.profile
    div.profileImage
      img(src=profile.pictureUrls.values[0])
    div.userName
      input(type="hidden" id="totalScore" value=totalScore)
      input(type="hidden" id="questionsAnswered" value =questionsAnswered)
      p= profile.firstName
      canvas(id="scoreChart" width="225" height="225")
    table
      thead
        th
          h2 Questions Submitted by #{profile.firstName}:
      tbody
      for question in questionsSubmitted
        tr
        td #{question.question}
        td
          a(href="/cards/questions/"+question._id+"/edit") Edit
        td
          form(action="/cards/"+question._id+"/delete" method="post")
            button#delete X
