extends ../layout

block content

  div.headerSection
    div.icon
      img(src ="/images/bolt.png")
    div.headerElement
      a(href="/cards") flashcards
    div.logout
      a(href="/logout") Logout
  div.profile
    div.profileImage
      img(src=profile.pictureUrls.values[0])
    div.userName
      h1= profile.firstName
      h2 Total Score: #{totalScore} / #{questionsAnswered}
    div.questionsSubmitted
      h2 Questions Submitted by #{profile.firstName}:
      for question in questionsSubmitted
        div.questionText
          p #{question.question}
        div.edit
          a(href="/cards/questions/"+question._id+"/edit") 
            p Edit
        div.delete
          form(action="/cards/"+question._id+"/delete" method="post")
            button#delete X
